@model Technico.Main.DTOs.UpdateRepairDto
@using Technico.Main.Models
@using Technico.Main.Models.Enums
@{
    ViewData["Title"] = "Update Repair";
    var repair = ViewData["Repair"] as Technico.Main.DTOs.RepairDtos.RepairDto;
}


<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow p-4" style="max-width: 600px; width: 100%;">
        <h2 class="text-center mb-4">Update Repair</h2>


        <form id="updateRepairForm" method="post" asp-action="Update" asp-route-id="@ViewData["UserId"]">
            <input type="hidden" value="@repair.Id" asp-for="Id" id="Id">

            <div class="mb-3">
                <label for="E9" class="form-label">Property E9</label>
                <input type="text" class="form-control" id="E9" value="@repair.Property.E9" placeholder="E9-XXX" name="E9" readonly required>
            </div>


            <div class="mb-3">
                <label for="Type" class="form-label">Repair Type</label>
                <select class="form-select" id="Type" asp-for="Type" required>
                    <option value="@repair.Type" selected hidden>@repair.Type.ToString().Replace('_', ' ')</option>
                    <option value="@TypeOfRepair.Painting">Painting</option>
                    <option value="@TypeOfRepair.Electrical_Work">Electrical Work</option>
                    <option value="@TypeOfRepair.Frames">Frames</option>
                    <option value="@TypeOfRepair.Insulation">Insulation</option>
                    <option value="@TypeOfRepair.Plumbing">Plumbing</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="Description" class="form-label" asp-for="Description">Description</label>
                <input type="text" class="form-control" id="Description" value="@repair.Description" placeholder="Description">
            </div>

            <div class="mb-3">
                <label for="Status" class="form-label">Status Type</label>
                <select class="form-select" id="Status" name="Status" asp-for="Status" required>
                    <option value="@repair.Status" selected hidden>@repair.Status.ToString().Replace('_', ' ')</option>
                    <option value="@StatusOfRepair.Pending">Pending</option>
                    <option value="@StatusOfRepair.In_progress">In progress</option>
                    <option value="@StatusOfRepair.Complete">Complete</option>
                </select>
            </div>

            <!-- Submit Button -->
            <div class="text-center">
                <button id="updateBtn" type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>