@model List<Technico.Main.DTOs.PropertyDtos.PropertyDtoResponse>

  <h2>Properties</h2>

  <!-- Button to add new property -->
<button class="btn btn-primary mt-4 mb-4" onclick="getProfile('Properties','Create')">Add Property</button>

  <!-- Table for displaying properties -->
  <table class="table table-bordered" id="propertiesTable">
      <thead>
          <tr>
              <th>Ε9</th>
              <th>Address</th>
              <th>Year of Construction</th>
              <th>Property Type</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
            @foreach (var property in Model)
            {
                <tr>
                    <td>@property.E9</td>
                    <td>@property.Address</td>
                    <td>@property.ConstructionYear</td>
                    <td>@property.Type</td>
                    <td>
                        <a class="editBtn btn border" href="/Properties/Update?id=@property.Id" >
                            <i class="bi bi-gear"></i>
                        </a>
                        <button class="deleteBtn btn border" onclick="deleteProperty('@property.Id')">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            }
      </tbody>
  </table>



  <script>

    function deleteProperty(id) {
        if (confirm("Are you sure you want to delete this property?")) {
            fetch(`/Properties/Delete/${id}`, {
                method: 'DELETE'
            })
            .then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    alert("Failed to delete property.");
                }
            })
            .catch(error => console.error('Error deleting property:', error));
        }
    }

  </script>



