@model List<Technico.Main.DTOs.PropertyDtos.PropertyDtoResponse>

<div class="container col-md-12">
    <div class="card shadow-sm my-4">
         <div class="card-header d-flex justify-content-between mb-3">
                <h3 class="card-title "><i class="fa-solid fa-building"></i> Properties</h3>
                 <!-- Button to add new property -->
                <button class="btn btn-primary" onclick="getProfile('Properties','Create')">Create new Property</button>
          </div>  
          <div class="card-body p-4">
              <div class="mb-3 table-responsive">
                 <!-- Table for displaying properties -->
                    <table class="table table-striped table-hover table-bordered align-middle" id="propertiesTable">
                        <thead class="table-dark sticky-top">
                            <tr class="text-center">
                                <th class="align-middle">Ε9</th>
                                <th class="align-middle">Address</th>
                                <th class="align-middle">Year of Construction</th>
                                <th class="align-middle">Property Type</th>
                                <th class="align-middle">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="table-light">
                         @foreach (var property in Model)
                         {
                            <tr>
                                <td class="text-center">@property.E9</td>
                                <td class="text-center">@property.Address</td>
                                <td class="text-center">@property.ConstructionYear</td>
                                <td class="text-center">@property.Type.ToString().Replace("_", " ")</td>
                                <td class="text-center align-middle">
                                    <a class="editBtn btn btn-outline-primary btn-sm me-2 rounded-pill" href="/Properties/Update?id=@property.Id" >
                                        <i class="fas fa-cog"></i>
                                    </a>
                                    <button class="deleteBtn btn btn-outline-danger btn-sm me-2" onclick="deleteProperty('@property.Id')">
                                          <i class="fas fa-trash"></i>
                                    </button>
                                    <a asp-controller="PropertyRepairs" asp-action="Index" asp-route-propertyId="@property.Id" class="btn btn-outline-primary btn-sm me-2 rounded-pill" data-bs-toggle="tooltip" title="View Property">
                                        <i class="fa-regular fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
              </div>
          </div>
    </<div>
</div>

<script>

    function deleteProperty(id) {
        if (confirm("Are you sure you want to delete this property?")) {
            fetch(`/Properties/Delete/${id}`, {
                method: 'DELETE'
            })
            .then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    alert("Failed to delete property.");
                }
            })
            .catch(error => console.error('Error deleting property:', error));
        }
    }

</script>



