@model Technico.Main.DTOs.RepairDtos.PostRepairDto
﻿@using Technico.Main.Models
@using Technico.Main.Models.Enums
@{
    ViewData["Title"] = "Create Repair";
 
}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow p-4" style="max-width: 600px; width: 100%;">
        <h2 class="text-center mb-4">Create New Repair</h2>

        <form id="addRepairForm" asp-action="Create" method="post" asp-route-PropertyId="@ViewData["PropertyId"]">

            <input type="hidden" value="@ViewData["PropertyId"]" asp-for="PropertyId" />

            <div class="mb-3">
                <label for="Type" class="form-label">Repair Type</label>
                <select class="form-select" asp-for="Type" required>
                    <option value="" disabled selected>Select a repair type</option>
                    @foreach (var type in Enum.GetValues(typeof(TypeOfRepair)))
                    {
                        <option value="@type">@type.ToString().Replace('_', ' ')</option>
                    }
                </select>
            </div>

            <div class="mb-3">
                <label for="Description" class="form-label">Description</label>
                <input type="text" class="form-control" asp-for="Description" placeholder="Description" required />
            </div>

            <div class="mb-3">
                <label for="Status" class="form-label">Status</label>
                <select class="form-select" asp-for="Status" required>
                    <option value="" disabled selected>Select repair status</option>
                    @foreach (var status in Enum.GetValues(typeof(StatusOfRepair)))
                    {
                        <option value="@status">@status.ToString().Replace('_', ' ')</option>
                    }
                </select>
            </div>

            <div class="mb-3">
                <label for="Cost" class="form-label">Repair Cost</label>
                <input type="number" step="0.01" class="form-control" asp-for="Cost" />
            </div>
            <!-- Submit Button -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>